<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAs8xCJyOWFoe1X7KDUWrYcJpSgLiTPBpw</string>
	<key>GCM_SENDER_ID</key>
	<string>75482759632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scentlaundry</string>
	<key>PROJECT_ID</key>
	<string>scentlaundry</string>
	<key>STORAGE_BUCKET</key>
	<string>scentlaundry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75482759632:ios:d54e147f1b13c41064b9d5</string>
</dict>
</plist>